<div (click)="closeModal()" class="overlay-backdrop"></div>

<div class="modal-wrapper">
  <form [formGroup]="lessonForm" class="lesson-form" *ngIf="weekSchedule">
    <div class="info-row">
      <div class="select-column">
        <div class="placeholder">Назва предмета</div>
        <app-theme-select [filters]="{group: weekSchedule.getScheduleGroupId()}"
                          [selectControl]="lessonForm.get('theme')"></app-theme-select>

        <div class="placeholder">Тип</div>
        <app-lesson-type-select [selectControl]="lessonForm.get('format')"></app-lesson-type-select>
      </div>

      <div class="select-column">
        <div class="placeholder">Корпус</div>
        <app-housing-select [filters]="{group: weekSchedule.getScheduleGroupId()}"
                            [selectControl]="lessonForm.get('housing')"></app-housing-select>

        <div class="placeholder">Аудиторія</div>
        <app-room-select [filters]="{housing: lessonForm.get('housing').value}"
                         [disabled]="lessonForm.get('housing').invalid"
                         [selectControl]="lessonForm.get('room')"></app-room-select>
      </div>

      <div class="select-column">
        <div class="placeholder">Підгрупи</div>
        <app-lesson-subgroup-select [selectControl]="lessonForm.get('subgroup')"
                                    [group]="group"></app-lesson-subgroup-select>
      </div>
    </div>

    <div class="info-row">
      <div class="select-column long">
        <div class="placeholder">Викладач(*чі)</div>
        <app-teacher-autocomplete [filters]="{group: weekSchedule.getScheduleGroupId()}"
                                  [selectControl]="lessonForm.get('teachers')"
                                  multiple="true"></app-teacher-autocomplete>
      </div>
    </div>

    <div class="info-row">
      <div class="select-column">
        <div class="placeholder">День</div>
        <app-day-select [selectControl]="lessonForm.get('day')"></app-day-select>
      </div>

      <div class="select-column">
        <div class="placeholder">Час</div>
        <app-lesson-time-select [selectControl]="lessonForm.get('lesson_time')"
                                [disabled]="lessonForm.get('day').invalid"
                                [lessonTimes]="weekSchedule.getScheduleTimes()"></app-lesson-time-select>
      </div>
    </div>

    <div class="placeholder">Тижні</div>
    <div class="weeks-wrapper"
         *ngIf="lessonForm.get('lesson_time').valid && lessonForm.get('day').valid; else weeksSelectorLocked">
      <ng-container *ngFor="let week of vacantWeeks; let i = index">
        <button (click)="changeWeekStatus(week)"
                *ngIf="!week.isHidden"
                [class.used]="week.isUsed"
                [disabled]="!week.isVacant"
                class="week-selector"
                mat-flat-button>
          <mat-checkbox [checked]="week.isUsed" [disabled]="!week.isVacant" color="primary">
            <span>#{{i + 1}} <span class="small-text">({{week.date | date: 'dd.MM.yy'}})</span></span>
          </mat-checkbox>
        </button>
      </ng-container>
    </div>

    <ng-template #weeksSelectorLocked>
      <span>Оберіть спочатку день тижня і час пари</span>
    </ng-template>

    <div class="control-row">
      <button mat-flat-button
              (click)="lesson ? onUpdate() : onCreate()"
              [disabled]="lessonForm.invalid"
              color="primary">Зберегти
      </button>
      <button mat-stroked-button (click)="closeModal()" color="primary">Повернутися</button>
    </div>
  </form>
</div>

