<form [formGroup]="universityEntityService.form" class="tt-form">
  <label class="tt-input-label name">
    <span class="placeholder">Назва *</span>
    <input class="tt-input" formControlName="name" placeholder="Введіть ім'я">
    <span class="tt-error">{{universityEntityService.getControlError('name')}}</span>
  </label>
  <label class="tt-input-label short-name">
    <span class="placeholder">Коротка назва *</span>
    <input class="tt-input" formControlName="short_name" placeholder="Введіть коротке ім'я">
    <span class="tt-error">{{universityEntityService.getControlError('short_name')}}</span>
  </label>
  <label class="tt-input-label slug">
    <span class="placeholder">Транслітерація назви *</span>
    <input class="tt-input" formControlName="slug" placeholder="Введіть slug">
    <span class="tt-error">{{universityEntityService.getControlError('slug')}}</span>
  </label>
  <label class="tt-input-label logo">
    <span class="placeholder">Логотип</span>
    <app-load-image (onImageChange)="universityEntityService.getImagePath($event)"
                    [imageSrc]="universityEntityService.imageSrc"></app-load-image>
  </label>
  <label class="tt-input-label description">
    <span class="placeholder">Додаткові відомості</span>
    <textarea class="tt-textarea" formControlName="desc" placeholder="Додайте опис університету"></textarea>
    <span class="tt-error">{{universityEntityService.getControlError('desc')}}</span>
  </label>

  <div class="control-row" *ngIf="universityEntityService.form.dirty">
    <button (click)="save.emit(universityEntityService.form.value)"
            [disabled]="universityEntityService.form.invalid"
            color="primary"
            mat-flat-button>Зберегти
    </button>
    <button mat-stroked-button (click)="resetForm()">Скинути</button>
  </div>
</form>
