<h2 class="entities-list-heading">
  <span>{{listTitle}}</span>
  <button mat-icon-button class="mini-button" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</h2>

<label class="tt-input-label item-search">
  <button (click)="createNewInstance()" color="primary" mat-flat-button>
    <mat-icon>add</mat-icon>
    <span>Створити спеціальність</span>
  </button>
  <input class="tt-input" [formControl]="searchControl" placeholder="Пошук...">
</label>

<div class="entities-details">
  <app-specialties-list [withDeleting]="false" [filters]="filters"></app-specialties-list>
  <app-smart-details titleText="Деталі спеціальності"></app-smart-details>
</div>
