<form [formGroup]="teacherEntityService.form" class="tt-form">
  <label class="tt-input-label">
    <span class="placeholder">Повне ім'я *</span>
    <input class="tt-input" formControlName="full_name" placeholder="Введіть ім'я">
    <span class="tt-error">{{teacherEntityService.getControlError('full_name')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Прізвище та ініціали *</span>
    <input class="tt-input" formControlName="short_name" placeholder="Введіть коротке ім'я">
    <span class="tt-error">{{teacherEntityService.getControlError('short_name')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Транслітерація назви</span>
    <input class="tt-input" formControlName="slug" placeholder="Введіть slug">
    <span class="tt-error">{{teacherEntityService.getControlError('slug')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Університет *</span>
    <app-university-select [selectControl]="teacherEntityService.univControl"></app-university-select>
    <span class="tt-error">{{teacherEntityService.getControlError('univ')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">ОКР *</span>
    <app-teacher-degree-selector [selectControl]="teacherEntityService.degreeControl"></app-teacher-degree-selector>
    <span class="tt-error">{{teacherEntityService.getControlError('degree')}}</span>
  </label>
  <span class="placeholder">Фото</span>
  <app-load-image (onImageChange)="teacherEntityService.getImagePath($event)"
                  [imageSrc]="teacherEntityService.imageSrc"></app-load-image>
  <label class="tt-input-label">
    <span class="placeholder">Додаткові відомості</span>
    <textarea class="tt-textarea" formControlName="desc" placeholder="Додайте опис спеціальності"></textarea>
    <span class="tt-error">{{teacherEntityService.getControlError('desc')}}</span>
  </label>

  <div class="control-row">
    <button (click)="save()"
            [disabled]="teacherEntityService.form.invalid || teacherEntityService.form.pristine"
            color="primary"
            mat-flat-button>Зберегти
    </button>
    <button mat-stroked-button (click)="reset()" [disabled]="teacherEntityService.form.pristine">Скинути</button>
  </div>
</form>

<div class="loading-wrapper" *ngIf="isLoading">
  <div class="loader-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</div>
