@import "../../../../../assets/stylesheet/functions";
@import '../../../../../assets/stylesheet/breakpoints';

:host {
  .tb-input {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 19px;

    &.opened, &:focus, &:active {
      &:not(.disabled):not(:disabled):not(.readonly) {
        border-width: 0;
        padding: 0 20px;
      }
    }

    &.dark {
      img {
        filter: invert(1);
      }

      &.opened {
        box-shadow: 0 3px 25px 0 rgba(179, 179, 179, 0.15);
      }

      &.opened, &:focus, &:active {
        &:not(.disabled):not(:disabled):not(.readonly) {
          border-width: 0;
          padding: 0 20px;
        }
      }
    }

    &:not(.opened) {
      transition-property: all;
      transition-delay: .18s;
    }
  }

  .opened {
    border-radius: 4px 4px 0 0;
    clip-path: inset(-25px -25px 0 -25px);
    box-shadow: 0 3px 25px 0 rgba(179, 179, 179, 0.48);

    img {
      opacity: 1;
      transform: scaleY(1);
    }
  }


  img {
    margin-left: 5px;
    opacity: .5;
    transform: scaleY(-1);
    transition: customTransitions(cubic-bezier(.35, 0, .25, 1), 0.15s, transform, opacity);
  }

  .result-content {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: $x-large) {
    .tb-input {
      padding-right: 15px;

      &.opened, &:focus, &:active {
        &:not(.disabled):not(:disabled):not(.readonly) {
          padding: 0 16px;
        }
      }

      &.dark {
        &.opened, &:focus, &:active {
          &:not(.disabled):not(:disabled):not(.readonly) {
            padding: 0 16px;
          }
        }
      }

      &:not(.opened) {
        transition-property: all;
        transition-delay: .18s;
      }
    }
  }
}
