@import "../../../../../assets/stylesheet/functions";

:host {
  .tb-input {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 42px);
    padding-right: 20px;

    &.disabled {
      color: rgba(59, 59, 59, 0.5);
      filter: grayscale(100%);
      background-color: #FBFBFB;
    }


    &.opened, &:focus, &:active {
      &:not(.disabled):not(:disabled):not(.readonly) {
        border-width: 0;
        height: 45px;
        padding: 0 21px;
      }
    }
  }

  .opened {
    border-radius: 4px 4px 0 0;
    clip-path: inset(-25px -25px 0 -25px);
    box-shadow: 0 3px 25px 0 rgba(179, 179, 179, 0.48);

    img {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  img {
    margin-left: 5px;
    opacity: .5;
    transform: scaleY(-1);
    transition: customTransitions(cubic-bezier(.35, 0, .25, 1), 0.5s, transform, opacity);
  }

  .result-content {
    display: flex;
    align-items: center;
  }
}
