.hidden {
  display: none;
}

:host {
  display: block;
  position: relative;
}

.control-row {
  .mat-flat-button, .mat-stroked-button {
    min-width: 100px;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
