:host {
  display: flex;
  margin-bottom: 15px;
  align-items: baseline;

  .delete-icon {
    margin-left: 5px;
  }
}

.groupsemester {
  height: unset;
  padding: 0 16px 0 0;
  margin-bottom: 0;
}

.groupsemester-details-header {
  display: flex;
  height: 43px;
  align-items: baseline;
  line-height: 43px;
  padding-left: 16px;
  cursor: pointer;

  .period {
    line-height: 16px;
    font-size: 10px;
    font-weight: 300;
    margin-left: 10px;
  }

  &.opened .arrow {
    transform: scaleY(-1);
  }

  .arrow {
    user-select: none;
    margin-left: auto;
    transform: scaleY(1);
    transition: customTransitions(cubic-bezier(.35, 0, .25, 1), 0.15s, transform, opacity);
  }
}

.groupsemester-details {
  .placeholder {
    border-bottom: 1px solid var(--primary-color-20);
    margin-bottom: 6px;
    margin-left: 19px;
  }

  .theme-wrapper, .lesson-time-wrapper {
    margin-bottom: 6px;
    max-height: 320px;
    overflow: auto;
  }

  ::ng-deep.mat-checkbox-layout {
    padding-left: 19px;
    height: 40px;
    align-items: center;
  }
}
