<div class="groupsemester tt-input">
  <div (click)="isOpened = !isOpened"
       [class.opened]="isOpened"
       class="groupsemester-details-header">

    <div>{{semester?.num}} семестр</div>
    <div class="period">{{semester?.start | date: 'dd.MM.yyyy'}} - {{semester?.end | date: 'dd.MM.yyyy'}}</div>
    <img class="arrow" src="../../../../../../static/assets/img/ic_filter_arrow.svg" alt="arrow">

  </div>

  <div class="groupsemester-details" [@accordionTransitionAnimation]="isOpened">

    <div class="placeholder">
      <span>Предмети</span>
      <button mat-icon-button class="mini-button left-side">
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <div class="theme-wrapper">
      <div class="theme" *ngFor="let theme of groupThemes">
        <mat-checkbox (change)="themeChanged($event, theme)"
                      [checked]="isThemeEnableForGroupsemester(theme.id, groupsemester)"
                      color="primary">{{theme.name}}</mat-checkbox>
      </div>
    </div>

    <div class="placeholder">
      <span>Розклад</span>
      <mat-checkbox (change)="showLessonNumberChanged($event)"
                    [checked]="groupsemester.show_lessons_number"
                    color="primary">Показувати номери пар
      </mat-checkbox>
      <button mat-icon-button class="mini-button left-side" (click)="createLessonTime()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="lesson-time-wrapper">
      <div class="lesson-time" *ngFor="let lessonTime of lessonTimes">
        <mat-checkbox (change)="lessonTimeChanged($event, lessonTime)"
                      [checked]="isLessonTimeEnableForGroupsemester(lessonTime.id, groupsemester)"
                      color="primary">{{lessonTime.start}} - {{lessonTime.end}}</mat-checkbox>
        <button mat-icon-button class="mini-button" (click)="deleteLessonTime(lessonTime.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>
<button (click)="deleteGroupSemester()" class="delete-icon" mat-icon-button>
  <mat-icon>delete</mat-icon>
</button>
