:host {
  display: flex;
  margin-bottom: 15px;
  align-items: baseline;

  .delete-icon {
    margin-left: 5px;
  }
}

.groupsemester {
  height: unset;
  padding: 0 16px 0 0;
  margin-bottom: 0;
}

.groupsemester-details-header {
  display: flex;
  height: 43px;
  align-items: center;
  padding-left: 16px;
  cursor: pointer;

  .period {
    line-height: 16px;
    font-size: 10px;
    font-weight: 300;
    margin-left: 10px;
  }

  &.opened .arrow {
    transform: scaleY(-1);
  }

  .arrow {
    user-select: none;
    margin-left: auto;
    transform: scaleY(1);
    transition: customTransitions(cubic-bezier(.35, 0, .25, 1), 0.15s, transform, opacity);
  }
}

.mini-button {
  .mat-icon, &.mat-icon-button, ::ng-deep.mat-button-wrapper {
    height: 32px;
    width: 32px;
    display: block;
  }

  .mat-icon {
    font-size: 16px;
    line-height: 32px;
  }
}

.groupsemester-details {
  .placeholder {
    border-bottom: 1px solid var(--primary-color-20);
    margin-bottom: 6px;
    margin-left: 19px;
    height: 40px;
    display: flex;
    align-items: center;

    :not(.left-side) + .left-side {
      margin-left: auto;
    }

    .mat-checkbox {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .theme-wrapper, .lesson-time-wrapper {
    margin-bottom: 6px;
    max-height: 320px;
    overflow: auto;
  }

  .theme, .lesson-time {
    display: flex;
    align-items: center;

    &:hover .mini-button {
      opacity: 1;
    }

    .mini-button {
      margin-left: 8px;
      opacity: 0;
    }
  }

  ::ng-deep.mat-checkbox-layout {
    padding-left: 19px;
    height: 40px;
    align-items: center;
  }
}

.update-status {
  width: 18px;
  height: 12px;
  margin-left: 8px;

  .checkmark-path {
    stroke: var(--light-green);
    stroke-dashoffset: 0;
    stroke-dasharray: 22.910259;
    stroke-width: 2.1333333333px;
    animation: 180ms linear 0ms unchecked-checked-checkmark-path;
  }

  .cross {
    fill: var(--pink);
    transform-origin: 50% 50%;
    animation: 270ms linear 0ms rotate-cross;
  }
}

.update-spinner, ::ng-deep.update-spinner svg {
  width: 18px !important;
  height: 18px !important;
}

@keyframes unchecked-checked-checkmark-path {
  0%, 25% {
    stroke-dashoffset: 22.910259;
  }

  25% {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 0.1);
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate-cross {
  0% {
    opacity: 0;
  }

  25% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 0.1);
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: rotate(180deg);
  }
}
