<h2 class="heading grid-all-columns">
  <span>Спеціальність "{{specialty?.name}}"</span>
  <button mat-icon-button (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</h2>

<ng-container *ngIf="specialty">
  <h3 class="grid-all-columns">Параметри спеціальності</h3>
  <app-specialty-entity class="grid-all-columns"
                        [specialty]="specialty"
                        (save)="saveSpecialty($event)"></app-specialty-entity>
  <div class="additional grid-two-first-columns">
    <h3>Додаткові налаштування</h3>
    <app-specialty-themes [specialtyId]="specialtyId"></app-specialty-themes>

    <app-accordion>
      <app-accordion-header>
        <h4>Курси прив'язані до спеціальності</h4>
        <button mat-icon-button class="mini-button" (click)="createCourse(); $event.stopPropagation()">
          <mat-icon>add</mat-icon>
        </button>
      </app-accordion-header>
      <app-courses-list [filters]="courseFilters" [withDetails]="true"></app-courses-list>
    </app-accordion>

    <app-accordion>
      <app-accordion-header>
        <h4>Групи прив'язані до спеціальності</h4>
        <button mat-icon-button class="mini-button" (click)="createGroup(); $event.stopPropagation()">
          <mat-icon>add</mat-icon>
        </button>
      </app-accordion-header>
      <app-groups-list [filters]="groupFilters" [withDetails]="true"></app-groups-list>
    </app-accordion>
  </div>

  <app-smart-details class="grid-last-column" [isCourseInGroupReadonly]="false"></app-smart-details>
</ng-container>

<div class="loader-wrapper" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
