:host {
  padding: 32px 24px 32px 39px;
  display: block;
  max-width: 1200px;
}

.heading {
  display: flex;
  align-items: center;

  &:hover {
    .mat-icon-button {
      opacity: 1;
    }
  }

  .mat-icon-button {
    margin-left: 8px;
    opacity: 0;

    &:focus, &:active {
      opacity: 1;
    }
  }
}

.details {
  display: flex;
  height: 925px;
  margin-bottom: 20px;

  .courses-and-theme {
    flex: 1 0 300px;
    padding-left: 19px;

    app-courses-list {
      display: block;
      height: 288px;
    }
  }

  app-specialty-entity {
    flex: 0 0 360px;
    margin-right: 35px;
  }
}

.subheading {
  display: flex;
  align-items: center;

  &:hover .mat-icon-button {
    opacity: 1;
  }

  .mat-icon-button {
    opacity: 0;
    margin-left: 8px;
  }
}

app-groups-list {
  display: block;
  max-height: 383px;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--overlay-background-color);

  .mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
