<h2 class="heading">
  <span>Спеціальність "{{specialty?.name}}"</span>
  <button mat-icon-button (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</h2>

<div class="details" *ngIf="specialty">
  <app-specialty-entity [specialty]="specialty"
                        [isLogoUpdating]="isLogoUpdating"
                        (save)="saveSpecialty($event)"
                        (onLogoChange)="saveImage($event)"></app-specialty-entity>
  <div class="courses-and-theme">
    <app-specialty-themes [themes]="themes" [isLoading]="isThemeLoading"></app-specialty-themes>
    <h3 class="subheading">
      <span>Зв'язані курси</span>
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </h3>
    <app-courses-list (onScrollToBottom)="loadCourses()"
                      [courses]="courses"
                      [isLoading]="isCoursesLoading"></app-courses-list>
  </div>
</div>

<h3 class="subheading">
  <span>Зв'язані групи</span>
  <button mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</h3>
<app-groups-list (onScrollToBottom)="loadGroups()"
                 [groups]="groups"
                 [isLoading]="isGroupsLoading"></app-groups-list>

<div class="loader-wrapper" *ngIf="isEntityLoading">
  <mat-spinner></mat-spinner>
</div>
