<app-groupsemester-details *ngFor="let groupsemester of groupsemesters; let index = index"
                           (delete)="onDelete(index)"
                           [groupsemester]="groupsemester"
                           [facultyId]="facultyId"
                           [semester]="semesterMap.get(groupsemester.semester)"
                           [groupThemes]="groupThemes"
                           [lessonTimes]="lessonTimes"></app-groupsemester-details>

<div class="control-row">
  <button (click)="addSemester()" [disabled]="!group" mat-flat-button color="primary">
    <mat-icon>add</mat-icon>
    <span>Додати семестр</span>
  </button>

  <button (click)="createSemester()" mat-stroked-button>
    <mat-icon>add</mat-icon>
    <span>Створити семестр</span>
  </button>
</div>
