@import '../../../../../core/stylesheet/functions';

:host {
  margin-top: 23px;
}

.control-row {
  .mat-flat-button, .mat-stroked-button  {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
