<div class="login-wrapper">
    <div class="heading">Login to MyTimeTable</div>
    <form name="login" class="tt-form" [formGroup]="loginForm">
        <label class="tt-input-label">
            <span class="placeholder smallest-text">Enter username</span>
            <input [class.tb-invalid]="!isControlValid(loginForm, 'username')"
                   class="tt-input"
                   name="username"
                   autocomplete="username"
                   formControlName="username"/>
            <span class="tt-error">{{getControlError(loginForm, 'username')}}</span>
        </label>
        <label class="tt-input-label">
            <span class="placeholder smallest-text">Password</span>
            <input [type]="isPasswordVisible ? 'text' : 'password'"
                   [class.tb-invalid]="!isControlValid(loginForm, 'password')"
                   class="tt-input"
                   name="password"
                   autocomplete="current-password"
                   formControlName="password"/>
            <span class="tt-error">{{getControlError(loginForm, 'password')}}</span>
            <mat-icon (click)="isPasswordVisible = !isPasswordVisible"
                      class="suffix-icon">visibility{{isPasswordVisible ? '' : '_off'}}</mat-icon>
        </label>
    </form>
    <div class="control-row orange-theme">
        <button (click)="login()"
                aria-label="Login"
                class="btn-rounded"
                color="primary"
                mat-raised-button>LOGIN
        </button>
    </div>
</div>
