<form [formGroup]="housingEntityService.form" class="tt-form">
  <label class="tt-input-label univ">
  <span class="placeholder">Університет *</span>
  <app-university-select [selectControl]="housingEntityService.form.get('univ')"></app-university-select>
  <span class="tt-error">{{housingEntityService.getControlError('univ')}}</span>
</label>
  <label class="tt-input-label name">
    <span class="placeholder">Назва *</span>
    <input class="tt-input" formControlName="name" placeholder="Введіть ім'я">
    <span class="tt-error">{{housingEntityService.getControlError('name')}}</span>
  </label>
  <label class="tt-input-label short-name">
    <span class="placeholder">Коротка назва *</span>
    <input class="tt-input" formControlName="short_name" placeholder="Введіть коротке ім'я">
    <span class="tt-error">{{housingEntityService.getControlError('short_name')}}</span>
  </label>
  <label class="tt-input-label address">
    <span class="placeholder">Адреса</span>
    <input class="tt-input" formControlName="address" placeholder="Введіть адресу">
    <span class="tt-error">{{housingEntityService.getControlError('address')}}</span>
  </label>
  <label class="tt-input-label location">
    <span class="placeholder">Локація</span>
    <input class="tt-input" formControlName="location" placeholder="Введіть місце розташуваня">
    <span class="tt-error">{{housingEntityService.getControlError('location')}}</span>
  </label>
  <label class="tt-input-label floors">
    <span class="placeholder">Кількість поверхів</span>
    <input class="tt-input" formControlName="floors" type="number" placeholder="Введіть кількість поверхів">
    <span class="tt-error">{{housingEntityService.getControlError('floors')}}</span>
  </label>

  <div class="control-row" *ngIf="housingEntityService.form.dirty">
    <button (click)="save.emit(housingEntityService.form.value)"
            [disabled]="housingEntityService.form.invalid"
            color="primary"
            mat-flat-button>Зберегти
    </button>
    <button mat-stroked-button (click)="resetForm()">Скинути</button>
  </div>
</form>
