<app-modal-wrapper [isLoading]="isLoading">
  <h4>Створення факультета</h4>
  <form [formGroup]="facultyEntityService.form" class="tt-form">
    <div class="column">
      <label class="tt-input-label">
        <span class="placeholder">Назва *</span>
        <input class="tt-input" formControlName="name" placeholder="Введіть ім'я">
        <span class="tt-error">{{facultyEntityService.getControlError('name')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Коротка назва *</span>
        <input class="tt-input" formControlName="short_name" placeholder="Введіть коротке ім'я">
        <span class="tt-error">{{facultyEntityService.getControlError('short_name')}}</span>
      </label>
      <span class="placeholder">Логотип</span>
      <app-load-image (onImageChange)="facultyEntityService.getImagePath($event)"
                      [imageSrc]="facultyEntityService.imageSrc"></app-load-image>
    </div>

    <div class="column">
      <label class="tt-input-label">
        <span class="placeholder">Університет</span>
        <app-university-select [selectControl]="facultyEntityService.form.get('univ')"></app-university-select>
        <span class="tt-error">{{facultyEntityService.getControlError('univ')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Транслітерація назви</span>
        <input class="tt-input" formControlName="slug" placeholder="Введіть slug">
        <span class="tt-error">{{facultyEntityService.getControlError('slug')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Додаткові відомості</span>
        <textarea class="tt-textarea" formControlName="desc" placeholder="Додайте опис факультета"></textarea>
        <span class="tt-error">{{facultyEntityService.getControlError('desc')}}</span>
      </label>
    </div>
  </form>
  <div class="control-row">
    <button (click)="createFaculty()"
            [disabled]="facultyEntityService.form.invalid"
            color="primary"
            mat-flat-button>Зберегти
    </button>
    <button mat-stroked-button (click)="closeModal()">Скинути</button>
  </div>
</app-modal-wrapper>
