:host {
  flex: 0 0 auto;
  background-color: var(--filter-background);
}

.filters-wrapper {
  padding: 32px 16px;
  width: 250px;
  color: white;
  font-size: 18px;

  .description {
    margin-bottom: 20px;
  }

  .placeholder {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
  }
}
