<div class="placeholder">
  <span>Тижні</span>
  <div class="filters-button">
    <button mat-flat-button color="accent" (click)="selectAll(true)">Всі</button>
    <button mat-flat-button color="accent" (click)="selectAllOdd(true)">Непарні</button>
    <button mat-flat-button color="accent" (click)="selectAllOdd(false)">Парні</button>
    <button mat-flat-button color="accent" (click)="selectAll(false)">Жоден</button>
  </div>
</div>
<div class="weeks-wrapper">
  <ng-container *ngFor="let week of vacantWeeks; let i = index">
    <button (click)="changeWeekStatus(week)"
            *ngIf="!week.isHidden"
            [class.used]="week.isUsed"
            [disabled]="!week.isVacant"
            class="week-selector"
            mat-flat-button>
      <mat-checkbox [checked]="week.isUsed" [disabled]="!week.isVacant" color="primary">
        <span>#{{i + 1}} <span class="small-text">({{week.date | date: 'dd.MM.yy'}})</span></span>
      </mat-checkbox>
    </button>
  </ng-container>
</div>
