<form [formGroup]="specialtyEntityForm" class="tt-form">
  <label class="tt-input-label">
    <span class="placeholder">Назва *</span>
    <input class="tt-input" formControlName="name" placeholder="Введіть ім'я">
    <span class="tt-error">{{getControlError(specialtyEntityForm, 'name')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Коротка назва *</span>
    <input class="tt-input" formControlName="short_name" placeholder="Введіть коротке ім'я">
    <span class="tt-error">{{getControlError(specialtyEntityForm, 'short_name')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Транслітерація назви *</span>
    <input class="tt-input" formControlName="slug" placeholder="Введіть slug">
    <span class="tt-error">{{getControlError(specialtyEntityForm, 'slug')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Університет</span>
    <app-university-select [selectControl]="univControl"></app-university-select>
    <span class="tt-error">{{getControlError(specialtyEntityForm, 'univ')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Факультет *</span>
    <app-faculty-select [filters]="{univ: univControl.value}"
                        [selectControl]="facControl"
                        [dropByFilterKeys]="['univ']"
                        [dropByFilterDefinition]="false"
                        (selectedOptionLoad)="onLoadFaculty($event)"></app-faculty-select>
    <span class="tt-error">{{getControlError(specialtyEntityForm, 'faculty')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Тип користувацького інтерфейсу *</span>
    <app-specialty-interface-type-select
      [selectControl]="specialtyEntityForm.get('interface_type')"></app-specialty-interface-type-select>
    <span class="tt-error">{{getControlError(specialtyEntityForm, 'univ')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Логотип</span>
    <app-load-image (onImageChange)="getImagePath($event)"
                    [imageSrc]="imageSrc"
                    [isLoading]="isLogoUpdating"></app-load-image>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Додаткові відомості</span>
    <textarea class="tt-textarea" formControlName="desc" placeholder="Додайте опис спеціальності"></textarea>
    <span class="tt-error">{{getControlError(specialtyEntityForm, 'slug')}}</span>
  </label>

  <div class="control-row" *ngIf="specialtyEntityForm.dirty">
    <button (click)="save.emit(specialtyEntityForm.value)"
            [disabled]="specialtyEntityForm.invalid"
            color="primary"
            mat-flat-button>Зберегти
    </button>
    <button mat-stroked-button (click)="resetForm()">Скинути</button>
  </div>
</form>
