<app-modal-wrapper [isLoading]="isLoading">
  <h4>Створення групи</h4>
  <form [formGroup]="groupEntityService.form" class="tt-form">
    <div class="column">

      <label class="tt-input-label">
        <span class="placeholder">Назва *</span>
        <input class="tt-input" formControlName="name" placeholder="Введіть ім'я">
        <span class="tt-error">{{groupEntityService.getControlError( 'name')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Коротка назва *</span>
        <input class="tt-input" formControlName="short_name" placeholder="Введіть коротке ім'я">
        <span class="tt-error">{{groupEntityService.getControlError( 'short_name')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Транслітерація назви</span>
        <input class="tt-input" formControlName="slug" placeholder="Введіть slug">
        <span class="tt-error">{{groupEntityService.getControlError('slug')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Кількість підгруп *</span>
        <input class="tt-input" type="number" formControlName="subgroups" placeholder="Введіть кількість підгруп">
        <span class="tt-error">{{groupEntityService.getControlError('subgroups')}}</span>
      </label>
    </div>

    <div class="column">
      <label class="tt-input-label">
        <span class="placeholder">Університет</span>
        <app-university-select [selectControl]="groupEntityService.univControl"></app-university-select>
        <span class="tt-error">{{groupEntityService.getControlError('univ')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Факультет</span>
        <app-faculty-select (selectedOptionLoad)="groupEntityService.onLoadFaculty($event)"
                            [dropByFilterDefinition]="false"
                            [dropByFilterKeys]="groupEntityService.univDrop"
                            [filters]="groupEntityService.univFilters"
                            [selectControl]="groupEntityService.facControl"></app-faculty-select>
        <span class="tt-error">{{groupEntityService.getControlError('faculty')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Спеціальність</span>
        <app-specialty-select (selectedOptionLoad)="groupEntityService.onLoadSpecialty($event)"
                              [dropByFilterDefinition]="false"
                              [dropByFilterKeys]="groupEntityService.facultyDrop"
                              [filters]="groupEntityService.facultyFilters"
                              [selectControl]="groupEntityService.specControl"></app-specialty-select>
        <span class="tt-error">{{groupEntityService.getControlError('specialty')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Курс *</span>
        <app-course-select (selectedOptionLoad)="groupEntityService.onLoadCourse($event)"
                           [disabled]="!groupEntityService.specControl.value"
                           [dropByFilterDefinition]="false"
                           [dropByFilterKeys]="groupEntityService.specialtyDrop"
                           [filters]="groupEntityService.specialtyFilters"
                           [selectControl]="groupEntityService.courseControl"></app-course-select>
        <span class="tt-error">{{groupEntityService.getControlError('course')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Рік *</span>
        <app-year-select [selectControl]="groupEntityService.yearControl"
                         [filters]="groupEntityService.univFilters"
                         [dropByFilterKeys]="groupEntityService.univDrop"
                         [dropByFilterDefinition]="false"></app-year-select>
        <span class="tt-error">{{groupEntityService.getControlError('course')}}</span>
      </label>
    </div>
  </form>
  <div class="control-row">
    <button (click)="createFaculty()"
            [disabled]="groupEntityService.form.invalid"
            color="primary"
            mat-flat-button>Зберегти
    </button>
    <button mat-stroked-button (click)="closeModal()">Скинути</button>
  </div>
  <div class="loading-wrapper" *ngIf="isLoading">
    <div class="loader-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</app-modal-wrapper>
