<app-modal-wrapper [isLoading]="isLoading" [formGroup]="semesterEntityService.form">
  <h4>Створення семестру</h4>
  <label class="tt-input-label">
    <span class="placeholder">Рік</span>
    <app-year-select #yearSelect [selectControl]="semesterEntityService.form.get('year')"></app-year-select>
  </label>

  <label class="tt-input-label">
    <span class="placeholder">Номер семестру</span>
    <input class="tt-input" formControlName="num" type="number" min="1">
  </label>

  <div class="tt-input-label">
    <span class="placeholder">Семестр</span>
    <app-date-picker [dateControl]="semesterEntityService.form"
                     [min]="dateFormatService.getDateFromString(yearSelect.getOptionById(yearSelect.selectControl?.value)?.start)"
                     [max]="dateFormatService.getDateFromString(yearSelect.getOptionById(yearSelect.selectControl?.value)?.end)"
                     placeholder="Оберіть діапазон дат"></app-date-picker>
  </div>

  <div class="control-row">
    <button (click)="create()" [disabled]="semesterEntityService.form.invalid" mat-flat-button color="primary">
      <span>Створити</span>
    </button>

    <button (click)="closeModal()" mat-flat-button>
      <span>Скасувати</span>
    </button>
  </div>
</app-modal-wrapper>
