<h2 class="heading">
  <span>{{degreeMap.get(course?.degree)?.name}} курс {{course?.name}}</span>
  <button mat-icon-button [disabled]="!course" (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</h2>

<div class="details" *ngIf="course">
  <app-course-entity [course]="course"
                     (save)="saveCourse($event)"></app-course-entity>
  <div class="additional">
    <app-course-themes [courseId]="courseId"></app-course-themes>
  </div>
</div>

<div class="loader-wrapper" *ngIf="isEntityLoading">
  <mat-spinner></mat-spinner>
</div>
