:host {
  padding: 0 24px 16px 39px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}

.grid-all-columns {
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid-two-first-columns {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-last-column {
  grid-column-start: 3;
  grid-column-end: 4;
}

.support-header {
  grid-row-start: 4;
  grid-row-end: 5;
}

.support-entity-settings {
  grid-row-start: 5;
  grid-row-end: 6;
}

.heading {
  display: flex;
  align-items: center;

  span::first-letter {
    text-transform: capitalize;
  }
}

app-groups-list {
  display: block;
  max-height: 383px;
}

app-accordion {
  margin-bottom: 15px;
  display: block;
}

.details {
  display: flex;

  app-course-entity {
    flex: 0 0 360px;
    margin-right: 25px;
  }

  .additional {
    flex: 1 0 300px;
    margin-top: 23px;
  }
}
