<h3>{{titleText}}</h3>
<div [ngSwitch]="smartDetailsService.currentEntity?.type">
  <app-smart-faculty-entity *ngSwitchCase="'FACULTY'"
                            [item]="smartDetailsService.currentEntity.entity"></app-smart-faculty-entity>

  <app-smart-specialty-entity *ngSwitchCase="'SPECIALTY'"
                              [item]="smartDetailsService.currentEntity.entity"></app-smart-specialty-entity>

  <app-smart-course-entity *ngSwitchCase="'COURSE'"
                           [item]="smartDetailsService.currentEntity.entity"></app-smart-course-entity>

  <app-smart-group-entity *ngSwitchCase="'GROUP'"
                          [isCourseReadonly]="isCourseInGroupReadonly"
                          [item]="smartDetailsService.currentEntity.entity"></app-smart-group-entity>

  <app-smart-theme-entity *ngSwitchCase="'THEME'"
                          [item]="smartDetailsService.currentEntity.entity"></app-smart-theme-entity>

  <app-smart-lessontime-entity *ngSwitchCase="'LESSONTIME'"
                               [item]="smartDetailsService.currentEntity.entity"></app-smart-lessontime-entity>

  <app-smart-year-entity *ngSwitchCase="'YEAR'"
                         [item]="smartDetailsService.currentEntity.entity"></app-smart-year-entity>

  <app-smart-semester-entity *ngSwitchCase="'SEMESTER'"
                             [item]="smartDetailsService.currentEntity.entity"></app-smart-semester-entity>

  <app-smart-period-entity *ngSwitchCase="'PERIOD'"
                           [item]="smartDetailsService.currentEntity.entity"></app-smart-period-entity>

  <app-smart-housing-entity *ngSwitchCase="'HOUSING'"
                            [item]="smartDetailsService.currentEntity.entity"></app-smart-housing-entity>

  <app-smart-room-entity *ngSwitchCase="'ROOM'"
                         [item]="smartDetailsService.currentEntity.entity"></app-smart-room-entity>

  <app-smart-teacher-entity *ngSwitchCase="'TEACHER'"
                            [item]="smartDetailsService.currentEntity.entity"></app-smart-teacher-entity>

  <app-smart-control-entity *ngSwitchCase="'CONTROL'"
                            [item]="smartDetailsService.currentEntity.entity"></app-smart-control-entity>

  <div *ngSwitchDefault>Оберіть сутність для подробиць</div>
</div>
