@import 'functions';
@import 'breakpoints';

.tt-form {
  position: relative;
}

.tt-form-row {
  display: flex;

  & > .long, & > .wrapper-short, & > .wrapper-short > * {
    flex: 1 0 0;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  & > .wrapper-short {
    display: flex;
  }
}

.tt-input-label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px 0 0;

  .placeholder {
    margin-top: 0;
  }
}

.tt-error {
  position: absolute;
  transform: translateY(4px);
  top: 100%;
  left: 0;
  color: var(--warn-color);
  font-size: 11px;
  line-height: 13px;
}

.placeholder {
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;

  .lighter, &.lighter {
    display: flex;
    align-items: center;
    color: rgba(119, 119, 119, 0.5);
  }
}

.tt-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 19px;
  color: #3B3B3B;
  outline: unset;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  height: 45px;
  border: 1px solid var(--primary-color-20);
  border-radius: 4px;
  background-color: #FFFFFF;
  transition: customTransitions(cubic-bezier(.35, 0, .25, 1), 0.3s, filter, opacity, background);

  .with-icon {
    padding-right: 49px;
  }

  &.dark {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(240, 240, 240, 0.1);

    &:focus, &:active {
      &:not(.disabled):not(:disabled):not(.readonly) {
        border: 1px solid #A1EDD3;
        border-radius: 4px;
        background-color: rgba(251, 251, 251, 0.11);
      }
    }
  }

  &.disabled, &:disabled, &[disabled], &.tb-disabled {
    color: rgba(59, 59, 59, 0.5);
    filter: grayscale(100%);
    background-color: #F7F7F7;
    cursor: unset;
  }

  &.tb-invalid, &:invalid {
    border: 1px solid #f8941e;
    background-color: #FBFBFB;
  }

  &[type="password"] {
    letter-spacing: 2px;
  }

  &:focus, &:active {
    &:not(.disabled):not(:disabled):not(.readonly) {
      border: 1px solid var(--primary-color-20);
      border-radius: 4px;
      background-color: #FBFBFB;
    }
  }

  &::placeholder {
    opacity: 0.5;
    color: #3B3B3B;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
  }
}

.suffix-icon {
  position: absolute;
  right: 17px;
  bottom: 10px;
  color: rgba(119, 119, 119, 0.5);
  cursor: pointer;
}

@media screen and (max-width: $x-large) {
  .tt-form-row {
    & > .long, & > .wrapper-short, & > .wrapper-short > * {
      flex: 1 0 0;
      margin-right: 20px;
    }
  }

  .tt-input {
    padding: 0 46px 0 15px;
  }
}
