<app-accordion>
  <app-accordion-header>
    <h4>Корпуси прив'язані до факультету</h4>
    <button mat-icon-button class="mini-button left-side" (click)="createHousing(); $event.stopPropagation()">
      <mat-icon>add</mat-icon>
    </button>
  </app-accordion-header>

  <div class="housings-wrapper">
    <div class="housing" *ngFor="let housing of housings">
      <span>{{housing.name}}</span>
      <button mat-icon-button class="mini-button" (click)="editHousing(housing.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="mini-button" (click)="deleteHousing(housing.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="loading-wrapper" *ngIf="isLoading">
    <div class="loader-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</app-accordion>
