:host {
  display: block;
  margin-bottom: 15px;

  .housings-wrapper {
    margin-bottom: 6px;
    max-height: 440px;
    overflow: auto;
  }

  .housing {
    display: flex;
    align-items: center;
    line-height: 24px;
    height: 40px;
    font-size: 13px;
    padding-left: 16px;

    &:hover .mini-button {
      opacity: 1;
    }

    .mini-button:first-of-type {
      margin-left: 8px;
    }

    .mini-button {
      opacity: 0;
    }
  }

  ::ng-deep.accordion-content {
    padding-right: 16px;
  }
}
