<app-modal-wrapper [isLoading]="isLoading" [withQueryParamsClose]="true">
  <h4>Створення спеціальності</h4>
  <form [formGroup]="specialtyEntityService.form" class="tt-form">
    <div class="column">
      <label class="tt-input-label">
        <span class="placeholder">Тип користувацького інтерфейсу *</span>
        <app-specialty-interface-type-select
          [selectControl]="specialtyEntityService.form.get('interface_type')"></app-specialty-interface-type-select>
        <span class="tt-error">{{specialtyEntityService.getControlError('univ')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Назва *</span>
        <input class="tt-input" formControlName="name" placeholder="Введіть ім'я">
        <span class="tt-error">{{specialtyEntityService.getControlError('name')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Коротка назва *</span>
        <input class="tt-input" formControlName="short_name" placeholder="Введіть коротке ім'я">
        <span class="tt-error">{{specialtyEntityService.getControlError('short_name')}}</span>
      </label>
      <span class="placeholder">Логотип</span>
      <app-load-image (onImageChange)="specialtyEntityService.getImagePath($event)"
                      [imageSrc]="specialtyEntityService.imageSrc"></app-load-image>
    </div>

    <div class="column">
      <label class="tt-input-label">
        <span class="placeholder">Університет</span>
        <app-university-select [selectControl]="specialtyEntityService.univControl"></app-university-select>
        <span class="tt-error">{{specialtyEntityService.getControlError('univ')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Факультет *</span>
        <app-faculty-select (selectedOptionLoad)="specialtyEntityService.onLoadFaculty($event)"
                            [dropByFilterDefinition]="false"
                            [dropByFilterKeys]="specialtyEntityService.univDrop"
                            [filters]="specialtyEntityService.univFilters"
                            [selectControl]="specialtyEntityService.facControl"></app-faculty-select>
        <span class="tt-error">{{specialtyEntityService.getControlError('faculty')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Транслітерація назви</span>
        <input class="tt-input" formControlName="slug" placeholder="Введіть slug">
        <span class="tt-error">{{specialtyEntityService.getControlError('slug')}}</span>
      </label>
      <label class="tt-input-label">
        <span class="placeholder">Додаткові відомості</span>
        <textarea class="tt-textarea" formControlName="desc" placeholder="Додайте опис спеціальності"></textarea>
        <span class="tt-error">{{specialtyEntityService.getControlError('desc')}}</span>
      </label>
    </div>
  </form>
  <div class="control-row">
    <button (click)="createItem()"
            [disabled]="specialtyEntityService.form.invalid"
            color="primary"
            mat-flat-button>Зберегти
    </button>
    <button mat-stroked-button (click)="closeModal()">Скинути</button>
  </div>
</app-modal-wrapper>
