<div class="relative-wrapper">
  <div (click)="getItemDetailsEntity(control);" *ngFor="let control of items; let index = index" class="item">
    <div class="item-details middle">{{formatTypesMap.get(control.format)}}</div>
    <div class="item-details long">
      <div class="theme">{{themesMap.get(control.theme)?.name}}</div>
      <div class="teachers">
        <ng-container *ngFor="let teacher of control.teachers">{{getTeacher(teacher)?.short_name}}<br/></ng-container>
      </div>
    </div>
    <div class="item-details">{{getRoom(control.room)?.num}} {{housingsMap.get(control.housing)?.short_name}}</div>
    <div class="item-details">
      <div class="time">{{control.start}}</div>
      <div class="date">{{control.date | date: 'dd.MM.yyyy'}}</div>
    </div>
    <div class="item-details icon" *ngIf="withDeleting">
      <button (click)="deleteItem(index); $event.stopPropagation(); $event.preventDefault();"
              class="mini-button"
              mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="loader-wrapper" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading" class="viewport-bottom" inViewport
       (inViewportAction)="!!$event && $event.visible && loadItems()"></div>
</div>
