:host {
  margin: 0 -16px;
}

.time, .theme, .format {
  font-weight: 500;
}

.date, .teachers, .location {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.location {
  font-weight: 600;
  flex: 0 0 80px;
}

.format:first-letter {
  text-transform: capitalize;
}
