<app-modal-wrapper [isLoading]="isLoading" [withQueryParamsClose]="true">
  <h4>Створення факультета</h4>
  <form [formGroup]="courseEntityService.form" class="tt-form">
    <label class="tt-input-label">
      <span class="placeholder">Університет</span>
      <app-university-select [selectControl]="courseEntityService.univControl"></app-university-select>
      <span class="tt-error">{{courseEntityService.getControlError('univ')}}</span>
    </label>
    <label class="tt-input-label">
      <span class="placeholder">Факультет</span>
      <app-faculty-select (selectedOptionLoad)="courseEntityService.onLoadFaculty($event)"
                          [dropByFilterDefinition]="false"
                          [dropByFilterKeys]="courseEntityService.univDrop"
                          [filters]="courseEntityService.univFilters"
                          [selectControl]="courseEntityService.facControl"></app-faculty-select>
      <span class="tt-error">{{courseEntityService.getControlError( 'faculty')}}</span>
    </label>
    <label class="tt-input-label">
      <span class="placeholder">Спеціальність *</span>
      <app-specialty-select (selectedOptionLoad)="courseEntityService.onLoadSpecialty($event)"
                            [dropByFilterDefinition]="false"
                            [dropByFilterKeys]="courseEntityService.facultyDrop"
                            [filters]="courseEntityService.facultyFilters"
                            [selectControl]="courseEntityService.specControl"></app-specialty-select>
      <span class="tt-error">{{courseEntityService.getControlError('specialty')}}</span>
    </label>
    <label class="tt-input-label">
      <span class="placeholder">Назва *</span>
      <input class="tt-input" formControlName="name" placeholder="Введіть ім'я">
      <span class="tt-error">{{courseEntityService.getControlError('name')}}</span>
    </label>
    <label class="tt-input-label">
      <span class="placeholder">ОКР *</span>
      <app-degree-selector [selectControl]="courseEntityService.form.get('degree')"></app-degree-selector>
      <span class="tt-error">{{courseEntityService.getControlError( 'degree')}}</span>
    </label>
  </form>
  <div class="control-row">
    <button (click)="createItem()"
            [disabled]="courseEntityService.form.invalid"
            color="primary"
            mat-flat-button>Зберегти
    </button>
    <button mat-stroked-button (click)="closeModal()">Скинути</button>
  </div>
</app-modal-wrapper>
