.control-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .mat-flat-button, .mat-stroked-button {
    min-width: 100px;
    margin: 0 10px;
  }
}

.tt-form {
  width: 320px;
}
