<app-select [abstractControl]="selectControl"
            [isMulti]="multiple"
            [isDisabled]="selectControl.disabled || disabled"
            (closed)="onOptionSelectClose()">

  <app-select-result *ngIf="!multiple; else multipleResult">
    {{itemToSting(optionMap.get(selectControl.value)) || placeholder}}
  </app-select-result>

  <ng-template #multipleResult>
    <app-select-result>
      <ng-container *ngFor="let item of selectControl.value; let isLast = last">
        {{itemToSting(optionMap.get(item)) || placeholder}}{{isLast ? '' : ',  '}}
      </ng-container>
      <ng-container *ngIf="!selectControl.value || !selectControl.value.length">{{placeholder}}</ng-container>
    </app-select-result>
  </ng-template>

  <div class="wrapper" appScroll (isDown)="onDown()">

    <label *ngIf="withSearch">
      <input #selectInput class="select-input" placeholder="Пошук..." (input)="onInput()">
    </label>

    <ng-container *ngFor="let option of selectedOptions">
      <app-option-item class="tb-item"
                       checked="true"
                       *ngIf="!without?.length || !without.includes(option.id)"
                       [value]="option.id">{{itemToSting(option)}}</app-option-item>
    </ng-container>

    <ng-container *ngFor="let option of displayedOptions">
      <app-option-item class="tb-item"
                       *ngIf="!without?.length || !without.includes(option)"
                       [value]="option.id">{{itemToSting(option)}}</app-option-item>
    </ng-container>

  </div>

</app-select>
