.select-input {
  width: 100%;
  background-color: initial;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
}

.mat-form-field {
  width: 100%;
}

.wrapper {
  max-height: 250px;
  overflow: auto;
}
