<app-modal-wrapper [isLoading]="isLoading">
  <h4>Створення аудиторії</h4>
  <form class="tt-form" [formGroup]="roomEntityService.form">
    <label class="tt-input-label">
      <span class="placeholder">Корпус *</span>
      <app-housing-select [selectControl]="roomEntityService.housingControl"></app-housing-select>
      <span class="tt-error">{{roomEntityService.getControlError('housing')}}</span>
    </label>
    <label class="tt-input-label">
      <span class="placeholder">Кімната *</span>
      <input class="tt-input" formControlName="num" placeholder="Введіть кімнату">
      <span class="tt-error">{{roomEntityService.getControlError('num')}}</span>
    </label>
    <label class="tt-input-label">
      <span class="placeholder">Поверх *</span>
      <input class="tt-input" formControlName="floor" placeholder="Введіть поверх" type="num">
      <span class="tt-error">{{roomEntityService.getControlError('floor')}}</span>
    </label>
  </form>

  <div class="control-row">
    <button (click)="create()" [disabled]="roomEntityService.form.invalid" mat-flat-button color="primary">
      <span>Створити</span>
    </button>

    <button (click)="closeModal()" mat-flat-button>
      <span>Скасувати</span>
    </button>
  </div>
</app-modal-wrapper>
