<app-modal-wrapper [isLoading]="isLoading" [formGroup]="_groupsemesterEntityService.form">
  <h4>Прив'язування семестра до групи</h4>

  <div class="placeholder">Група</div>
  <app-group-select [selectControl]="_groupsemesterEntityService.form.get('group')" optionIdKey="id"></app-group-select>

  <div class="placeholder">Доступні семестри</div>
  <div class="semester-row">
    <app-semester-select [selectControl]="_groupsemesterEntityService.form.get('semester')"
                         [filters]="_groupsemesterEntityService.groupFilters"
                         dropByFilter="true"></app-semester-select>
    <button (click)="createSemester()"
            [disabled]="!_groupsemesterEntityService.form.get('group')"
            title="Створити новий"
            mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-checkbox formControlName="show_lessons_number" color="primary">Показувати номери пар</mat-checkbox>

  <div class="control-row">
    <button (click)="create()" [disabled]="_groupsemesterEntityService.form.invalid" mat-flat-button color="primary">
      <span>Створити</span>
    </button>

    <button (click)="closeModal()" mat-flat-button>
      <span>Скасувати</span>
    </button>
  </div>
</app-modal-wrapper>>
