:host {
  display: block;
  position: relative;
}

.control-row {
  .mat-flat-button, .mat-stroked-button {
    min-width: 100px;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.mat-checkbox {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
}

.tt-form-row {
  justify-content: space-between;
  align-items: baseline;

  .long {
    margin-right: 0;
  }

  .time-divider {
    padding: 0 10px;
  }
}
