@import '../../../../static/schedule-widget/assets/stylesheet/functions';

:host {
  outline: none;
}

.content-wrapper {
  position: relative;
  min-width: 150px;
  display: block;

  &.opened {
    z-index: 21;
  }
}

.options {
  width: 100%;
  position: absolute;
  border-radius: 0 0 4px 4px;
  background-color: white;
  clip-path: inset(0 -25px -25px -25px);
  box-shadow: 0 3px 25px 0 rgba(179, 179, 179, 0.48);
  z-index: 10;
  max-height: 250px;
  overflow: auto;

  &.dark {
    box-shadow: 0 3px 25px 0 rgba(179, 179, 179, 0.15);
    background-color: #282828;
  }
}
