<div class="filters-wrapper" [formGroup]="filterForm" [@filterAppearAnimation]="isOpened">
  <div class="description">Фільтри</div>

  <div class="placeholder">Університет</div>
  <app-university-select [selectControl]="univControl"></app-university-select>

  <ng-container *ngIf="filterConfig.withFaculty">
    <div class="placeholder">Факультет</div>
    <app-faculty-select (selectedOptionLoad)="formatService.onLoadFaculty($event, facControl, univControl)"
                        [dropByFilterDefinition]="false"
                        [dropByFilterKeys]="['univ']"
                        [filters]="{univ: univControl.value}"
                        [selectControl]="facControl"></app-faculty-select>
  </ng-container>


  <ng-container *ngIf="filterConfig.withSpecialty">
    <div class="placeholder">Спеціальність</div>
    <app-specialty-select (selectedOptionLoad)="formatService.onLoadSpecialty($event, specControl, facControl)"
                          [dropByFilterDefinition]="false"
                          [dropByFilterKeys]="['univ', 'faculty']"
                          [filters]="{univ: univControl.value, faculty: facControl.value}"
                          [selectControl]="specControl"></app-specialty-select>
  </ng-container>


  <ng-container *ngIf="filterConfig.withCourse">
    <div class="placeholder">Курс</div>
    <app-course-select (selectedOptionLoad)="formatService.onLoadCourse($event, courseControl, specControl)"
                       [disabled]="!specControl.value"
                       [dropByFilterDefinition]="false"
                       [dropByFilterKeys]="['univ', 'faculty', 'specialty']"
                       [filters]="{univ: univControl.value, faculty: facControl.value, specialty: specControl.value}"
                       [selectControl]="courseControl"></app-course-select>
  </ng-container>

</div>

<button class="filter-mini-button" mat-icon-button (click)="isOpened = !isOpened">
  <mat-icon>keyboard_arrow_{{isOpened ? 'left' : 'right'}}</mat-icon>
</button>
