.control-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  .mat-flat-button {
    min-width: 100px;
    margin: 0 10px;
  }
}

.mat-checkbox {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
}

.tt-form-row {
  justify-content: space-between;
  align-items: baseline;

  .long {
    margin-right: 0;
  }

  .time-divider {
    padding: 0 10px;
  }
}
