<form [formGroup]="facultyEntityService.form" class="tt-form">
  <label class="tt-input-label name">
    <span class="placeholder">Назва *</span>
    <input class="tt-input" formControlName="name" placeholder="Введіть ім'я">
    <span class="tt-error">{{facultyEntityService.getControlError('name')}}</span>
  </label>
  <label class="tt-input-label short-name">
    <span class="placeholder">Коротка назва *</span>
    <input class="tt-input" formControlName="short_name" placeholder="Введіть коротке ім'я">
    <span class="tt-error">{{facultyEntityService.getControlError('short_name')}}</span>
  </label>
  <label class="tt-input-label slug">
    <span class="placeholder">Транслітерація назви *</span>
    <input class="tt-input" formControlName="slug" placeholder="Введіть slug">
    <span class="tt-error">{{facultyEntityService.getControlError('slug')}}</span>
  </label>
  <label class="tt-input-label logo">
    <span class="placeholder">Логотип</span>
    <app-load-image (onImageChange)="facultyEntityService.getImagePath($event)"
                    [imageSrc]="facultyEntityService.imageSrc"></app-load-image>
  </label>
  <label class="tt-input-label description">
    <span class="placeholder">Додаткові відомості</span>
    <textarea class="tt-textarea" formControlName="desc" placeholder="Додайте опис факультета"></textarea>
    <span class="tt-error">{{facultyEntityService.getControlError('desc')}}</span>
  </label>

  <div class="control-row">
    <button (click)="save()"
            [disabled]="facultyEntityService.form.invalid || facultyEntityService.form.pristine"
            color="primary"
            mat-flat-button>Зберегти
    </button>
    <button mat-stroked-button (click)="reset()" [disabled]="facultyEntityService.form.pristine">Скинути</button>
  </div>
</form>

<div class="centered-loading-wrapper" *ngIf="isLoading">
  <div class="loader-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</div>
