<div class="box-list"
     cdkDropList
     cdkDropListOrientation="vertical"
     (cdkDropListEntered)="isPlaced = true"
     (cdkDropListExited)="isPlaced = false"
     [cdkDropListData]="lessons"
     (cdkDropListDropped)="drop($event)"
     [cdkDropListConnectedTo]="connectedList"
     [cdkDropListEnterPredicate]="isLessonNotSpecified">
  <div class="drag-box"
       cdkDrag
       (cdkDragStarted)="dragStart.emit($event)"
       (cdkDragEnded)="dragEnd.emit($event)"
       *ngIf="lessons.length; else addElem">
    <span>{{lessons[0]}}</span>
    <div class="control-row">
      <button mat-icon-button (click)="edit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="addToClipBoard.emit(lessons[0])">
        <mat-icon>file_copy</mat-icon>
      </button>
      <button mat-icon-button (click)="getFromClipBoard.emit()" [disabled]="!isSomethingInClipboard">
        <mat-icon>archive</mat-icon>
      </button>
    </div>
  </div>
  <ng-template #addElem>
    <div class="add-box"
         [class.available]="isSomeDragging"
         [class.placed]="isPlaced"
         (click)="addLesson()">
      <button mat-icon-button>
        <mat-icon *ngIf="!isSomeDragging && !isPlaced">{{isSomethingInClipboard ? 'archive' : 'add_circle_outline'}}</mat-icon>
      </button>
    </div>
  </ng-template>
</div>
