:host {
  display: block;
}

.description-row {
  margin-bottom: 10px;
  max-height: 19px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  white-space: nowrap;
  padding: 0 15px;
  cursor: help;
}

.week-points-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0;
}

.week-point {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #b4b4b4;
  border: 2px solid white;
  cursor: help;
  margin: 2px;

  &.vacant {
    background-color: #3060c0;
  }
}

.box-list {
  border: dashed black 1px;
  border-radius: 4px;
  padding: 4px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4px;
  min-height: 50px;
  position: relative;

  &.available {
    background-color: #FFFFBC;
  }
}

.add-box {
  position: relative;
  border: dashed transparent 1px;
  flex: 1 0 0;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.drag-box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 4px 5px 1px rgba(0, 0, 0, 0.14),
  0 2px 7px 2px rgba(0, 0, 0, 0.12);
  margin: 4px;
  cursor: move;
  flex: 1 0 0;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;

  .control-row {
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-icon, .mat-icon-button {
      height: 28px;
      width: 28px;
    }

    .mat-icon {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    border-top: 8px solid #b1b1b1;
    border-left: 8px solid #b1b1b1;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
}

.lecture:before {
  border-top: 8px solid #81affd;
  border-left: 8px solid #81affd;
}

.seminar:before {
  border-top: 8px solid #80ffd4;
  border-left: 8px solid #80ffd4;
}

.practice:before {
  border-top: 8px solid #ff8080;
  border-left: 8px solid #ff8080;
}

.lab:before {
  border-top: 8px solid #ffe580;
  border-left: 8px solid #ffe580;
}

.box-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
