<div (cdkDropListDropped)="drop($event)"
     (cdkDropListEntered)="isPlaced = true"
     (cdkDropListExited)="isPlaced = false"
     [cdkDropListData]="lessons"
     [cdkDropListEnterPredicate]="isLessonNotSpecified()"
     [class.available]="isSomeDragging && isLessonNotSpecified()({data: draggedLesson})"
     [class.placed]="isPlaced"
     cdkDropList
     cdkDropListOrientation="vertical"
     class="box-list">
    <div (cdkDragEnded)="dragEnd.emit($event)"
         (cdkDragStarted)="dragStart.emit($event); isPlaced = true"
         *ngFor="let lesson of lessons; let i = index"
         [cdkDragData]="lesson"
         (click)="onLessonClick.emit(lesson)"
         cdkDrag
         class="drag-box">
        <div>{{lesson.name_short}}</div>
        <div>{{lessonTypesMap.get(lesson.format)?.shortName}}</div>
        <div *ngFor="let teacher of lesson.teachers">{{teacher.short_name}}</div>
        <div *ngIf="lesson.room">ауд. {{lesson.room.num}}</div>
        <div *ngIf="lesson.subgroup">пг. {{lesson.subgroup}}</div>
        <div *ngIf="lesson.subgroups">'пг. {{lesson.subgroups}}</div>
        <div>{{getWeeks(lesson)}}</div>
        <div class="control-row">
            <button (click)="onLessonClick.emit(lesson); $event.stopPropagation()" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="addToClipBoard.emit(lesson); $event.stopPropagation()" mat-icon-button>
                <mat-icon>file_copy</mat-icon>
            </button>
            <button (click)="deleteLesson.emit(lesson.id); $event.stopPropagation()" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="add-box">
    <button (click)="onAddLesson.emit()" mat-icon-button>
        <mat-icon *ngIf="!isSomeDragging && !isPlaced">add_circle_outline</mat-icon>
    </button>
    <button *ngIf="!!clipboardData && isLessonNotSpecified()({data: clipboardData})" (click)="onPasteLesson.emit()" mat-icon-button>
        <mat-icon>archive</mat-icon>
    </button>
</div>
