:host {
  display: block;
}

.small-test {
  font-size: 12px;
  line-height: 18px;
}

.box-list {
  border: dashed black 1px;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
  min-height: 50px;
  position: relative;

  &.available {
    background-color: #FFFFBC;
  }
}

.add-box {
  position: relative;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.drag-box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 4px 5px 1px rgba(0, 0, 0, 0.14),
  0 2px 7px 2px rgba(0, 0, 0, 0.12);
  margin: 2px;
  cursor: move;
  flex: 1 0 0;
  display: flex;
  align-items: flex-start;
  padding: 8px 0 8px 8px;
  position: relative;

  &.additional:not(:hover) {
    background-color: rgba(144, 144, 144, 0.1);
    align-items: center;

    .lesson-format, .teacher-avatar:not(:first-of-type), .lesson-name, .weeks-info-row, .mat-icon-button {
      display: none;
    }
  }

  .lesson-format {
    font-size: 10px;
    line-height: 16px;
    border-radius: 8px;
    width: 24px;
    text-align: center;
    cursor: help;
    margin-bottom: 8px;

    &.lecture {
      background-color: #8080ff;
    }

    &.seminar {
      background-color: #80ff80;
    }

    &.practice {
      background-color: #ff8080;
    }

    &.lab {
      background-color: #ffc080;
    }
  }

  .teachers-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 4px;
  }

  .teacher-avatar {
    cursor: pointer;
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -1px 1px 5px -3px rgba(0, 0, 0, 0.2), 1px 1px 5px 1px rgba(0, 0, 0, 0.14), -1px 2px 7px 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .description-col {
    width: 100%;

    .lesson-name {
      word-break: break-word;
      font-weight: 500;
      margin-bottom: 4px;
      padding-bottom: 4px;
      border-bottom: 1px solid #909090;
    }

    .description-info-row {
      display: flex;
      justify-content: space-between;

      span:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  .control-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    transform: translateY(-8px);
    min-height: 1px;
    min-width: 28px;

    .mat-icon, .mat-icon-button {
      height: 28px;
      width: 28px;
    }

    .mat-icon-button:last-child {
      margin-bottom: -16px;
    }

    .mat-icon {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.box-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
