<div (cdkDropListDropped)="drop($event)"
     (cdkDropListEntered)="isPlaced = true"
     (cdkDropListExited)="isPlaced = false"
     [cdkDropListData]="lessons"
     [class.available]="parent.isDragging"
     [class.placed]="isPlaced"
     cdkDropList
     cdkDropListOrientation="vertical"
     class="box-list">

  <div (cdkDragEnded)="onDragEnd()"
       (cdkDragStarted)="onDragStart($event.source.data)"
       (click)="parent.openLessonDetail(lesson)"
       *ngFor="let lesson of lessons; let i = index"
       [cdkDragData]="lesson"
       [class.additional]="parent.weekSchedule.isLessonAdditional(lesson, lessons)"
       [class.drag-conflicted]="parent.draggedLesson?.hasLessonsInsertConflicts(lesson)"
       [class.conflicted]="parent.weekSchedule.hasLessonConflictsWithAssociative(lesson, lessons)"
       cdkDrag
       class="drag-box">
    <div class="teachers-col">
      <div class="lesson-format {{lessonTypesMap.get(lesson.format)?.class}}"
           [title]="lessonTypesMap.get(lesson.format)?.name">{{lessonTypesMap.get(lesson.format)?.shortName}}</div>

      <ng-container *ngFor="let teacher of lesson.teachers">
        <img *ngIf="teacher.img; else generated"
             [alt]="teacher.short_name"
             [src]="teacher.img"
             [title]="teacher.full_name" class="teacher-avatar">

        <ng-template #generated>
          <app-default-avatar [fullName]="teacher.full_name"></app-default-avatar>
        </ng-template>
      </ng-container>
    </div>

    <div class="description-col">
      <div class="lesson-name" [title]="lesson.name_full">{{lesson.name_full}}</div>
      <div class="small-text teachers-info-row">Викладач/чі: <span
        class="semi-bold">{{lesson.getTeachersInfoString()}}</span></div>
      <div class="small-text weeks-info-row">Тижні: <span class="semi-bold">{{lesson.getWeeksAsString()}}</span></div>
      <div class="small-text description-info-row">
        <span *ngIf="lesson.room" [title]="'корп. ' + lesson?.housing?.short_name + ' ауд. ' + lesson?.room?.num">
          ауд. <span class="semi-bold">{{lesson.getLocation()}}</span>
        </span>
        <span *ngIf="lesson.subgroup">пг. <span class="semi-bold">{{lesson.subgroup}}</span></span>
      </div>
    </div>

    <div class="control-col">
      <button mat-icon-button title="Редагувати">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="parent.clipboard = lesson; $event.stopPropagation()" mat-icon-button title="Копіювати">
        <mat-icon>file_copy</mat-icon>
      </button>
      <button (click)="parent.delete(lesson.id); $event.stopPropagation()" mat-icon-button title="Видалити">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="add-box">
    <button (click)="parent.openAddLessonModal(timeId, dayIndex)" mat-icon-button>
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button *ngIf="!!parent.clipboard"
            (click)="parent.pasteLesson(timeId, dayIndex)"
            mat-icon-button>
      <mat-icon>archive</mat-icon>
    </button>
  </div>
</div>

