.dialog-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dialog-wrapper {
  min-width: 364px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-body {
  text-align: center;
  padding: 20px 0;
  max-width: 325px;
  margin: 0 auto;

  .dialog-header {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 13px;
  }

  .dialog-text {
    color: #777777;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
  }
}

.control-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;

  .mat-flat-button, .mat-stroked-button {
    min-width: 120px;
  }
}
