<form [formGroup]="facultyEntityForm" class="tt-form">
  <label class="tt-input-label">
    <span class="placeholder">Назва *</span>
    <input class="tt-input" formControlName="name" placeholder="Введіть ім'я">
    <span class="tt-error">{{getControlError(facultyEntityForm, 'name')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Коротка назва *</span>
    <input class="tt-input" formControlName="short_name" placeholder="Введіть коротке ім'я">
    <span class="tt-error">{{getControlError(facultyEntityForm, 'short_name')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Транслітерація назви *</span>
    <input class="tt-input" formControlName="slug" placeholder="Введіть slug">
    <span class="tt-error">{{getControlError(facultyEntityForm, 'slug')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Університет</span>
    <app-university-select [selectControl]="univControl"></app-university-select>
    <span class="tt-error">{{getControlError(facultyEntityForm, 'univ')}}</span>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Логотип</span>
    <app-load-image (onImageChange)="getImagePath($event)"
                    [imageSrc]="imageSrc"></app-load-image>
  </label>
  <label class="tt-input-label">
    <span class="placeholder">Додаткові відомості</span>
    <textarea class="tt-textarea" formControlName="desc" placeholder="Додайте опис факультета"></textarea>
    <span class="tt-error">{{getControlError(facultyEntityForm, 'slug')}}</span>
  </label>

  <div class="control-row" *ngIf="facultyEntityForm.dirty">
    <button (click)="save.emit(facultyEntityForm.value)"
            [disabled]="facultyEntityForm.invalid"
            color="primary"
            mat-flat-button>Зберегти
    </button>
    <button mat-stroked-button (click)="resetForm()">Скинути</button>
  </div>
</form>
