.placeholder {
  border-bottom: 1px solid var(--primary-color-20);
  margin: 0 19px 6px;
  height: 40px;
  display: flex;
  align-items: center;

  :not(.left-side) + .left-side {
    margin-left: auto;
  }

  .mat-checkbox {
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
  }
}

.lesson-time-wrapper {
  margin-right: 19px;
  margin-bottom: 6px;
  max-height: 320px;
  overflow: auto;
}

.lesson-time {
  display: flex;
  align-items: center;

  &:hover .mini-button {
    opacity: 1;
  }

  .mini-button:first-of-type {
    margin-left: 8px;
  }

  .mini-button {
    opacity: 0;
  }

  ::ng-deep.mat-checkbox-layout {
    padding-left: 19px;
    height: 40px;
    align-items: center;
  }
}
