<div cdkDropListGroup>
  <div class="select-group-wrapper">
    <app-menu-select placeholder="Група"
                     withSearch="true"
                     [loadPage]="loadGroups"
                     [loadItem]="loadGroup"
                     [selectControl]="groupIdControl"
                     (changeSelected)="changeSlug($event)"></app-menu-select>

    <span class="group-info">Курс: {{this.weekSchedule.getSchedule().info?.course?.name}}</span>
    <span class="group-info">Семестр: {{this.weekSchedule.getSchedule().info?.semester?.num}}</span>
  </div>
  <div class="loading-wrapper" *ngIf="isLoading; else schedule">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #schedule>
    <div class="time-row days-header">
      <span class="lesson-time"></span>
      <div class="lessons" *ngFor="let dayNames of weekSchedule.getScheduleDays()">{{dayNames}}</div>
    </div>
    <div class="time-row" *ngFor="let time of weekSchedule.getScheduleTimes()">
      <span class="lesson-time" [title]="time.start + ' - ' + time.end">{{time.num}} пара</span>
      <app-schedule-lessons *ngFor="let day of weekSchedule.getScheduleDays(); let dIndex = index"
                            [day]="day"
                            [dayIndex]="dIndex"
                            [timeId]="time.id"></app-schedule-lessons>
    </div>
  </ng-template>
</div>
