:host {
  display: block;
}

.divider {
  height: 1px;
  background-color: dimgray;
}

.time-row {
  display: flex;
  align-items: center;

  & > * {
    flex: 1 0 0;
  }

  .lesson-time, .lessons {
    border: solid transparent 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: .5em;
    height: 100px;
  }

  .lessons {
    width: 100px;
  }

}

.select-group-wrapper {
  width: 300px;
  margin: auto;
  position: relative;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff9e;

  .mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
