<div cdkDropListGroup>
  <div class="select-group-wrapper">
    <app-group-select [selectControl]="groupIdControl"></app-group-select>
    <ng-container *ngIf="!!weekSchedule?.getSchedule()">
      <span class="group-info">Курс: {{weekSchedule.getSchedule()?.info?.course?.name}}</span>
      <span class="group-info">Семестр: {{weekSchedule.getSchedule()?.info?.semester?.num}}</span>
    </ng-container>
  </div>
  <div class="loading-wrapper" *ngIf="isLoading; else schedule">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #schedule>
    <div class="time-row days-header" *ngIf="weekSchedule.getScheduleTimes().length; else choseGroupPlz">
      <div class="lesson-time"></div>
      <div class="lessons" *ngFor="let dayNames of weekSchedule.getScheduleDays()">{{dayNames}}</div>
    </div>
    <div class="time-row" *ngFor="let time of weekSchedule.getScheduleTimes()">
      <div class="lesson-time">
        <span class="number">{{time.num}}</span>
        <span class="time">{{time.start}} - {{time.end}}</span>
      </div>
      <app-schedule-lessons *ngFor="let day of weekSchedule.getScheduleDays(); let dIndex = index"
                            [day]="day"
                            [dayIndex]="dIndex"
                            [timeId]="time.id"></app-schedule-lessons>
    </div>
  </ng-template>

  <ng-template #choseGroupPlz>
    <div class="not-selected-info">Виберіть будь ласка групу</div>
  </ng-template>
</div>
