@import '../../../core/stylesheet/constants';

:host {
  display: block;
  padding: 0 0 40px !important;
}

.not-selected-info {
  margin: 100px 0 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  line-height: 33px;
}

.days-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  height: 29px;
  padding-top: 30px;

  &.time-row .lesson-time {
    border-top: unset;
  }
}

.time-row {
  display: flex;

  .lessons, app-schedule-lessons {
    flex: 1 0 150px;

    &:nth-child(even) {
      background-color: mix($primary-color, white, 10%);;
    }
  }

  .lesson-time, .lessons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .lesson-time {
    flex: 0 0 48px;
    justify-content: flex-start;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $gray;

    .number {
      font-size: 36px;
      line-height: 54px;
      font-weight: 500;
    }

    .time {
      writing-mode: vertical-lr;
      letter-spacing: 0.5px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
    }
  }

  .lessons {
    width: 100px;
    padding: 5px 0;
  }
}

.select-group-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, mix($primary-color, white, 82.5%), mix($primary-color, white, 75%));
  box-shadow: -1px 1px 5px -3px rgba(0, 0, 0, 0.2), 1px 1px 5px 1px rgba(0, 0, 0, 0.14), -1px 2px 7px 2px rgba(0, 0, 0, 0.12);
  padding: 7px 48px;
  box-sizing: border-box;

  .additional-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .info-row {
    display: flex;
    overflow: hidden;

    &.limited{
      flex: 1 0 0;
    }
  }

  .group-info {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 auto;

    &.limited{
      flex: unset;
    }
  }

  .temporary {
    display: inline;
  }

  ::ng-deep app-group-select {
    display: none;
    flex: 0 0 300px;

    app-select-result .tb-input {
      margin-top: 0;
    }
  }

  &.empty:not(.always-hidden), &:hover:not(.always-hidden) {
    app-group-select {
      display: unset;
    }

    .additional-wrapper {
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }

    .info-row {
      margin: 0 10px;
      flex-wrap: wrap;
      overflow: unset;
    }

    .temporary {
      display: none;
    }
  }
}

.loading-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 40;
  background-color: rgba($gray, 0.3);

  .loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
