@import '../../../assets/stylesheet/constants';

:host {
  display: block;
  padding-bottom: 40px;
}

.not-selected-info {
  margin: 40px 0;
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  line-height: 33px;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.days-header {
  background-color: white;
  height: 30px;

  &.time-row .lesson-time {
    border-top: unset;
  }
}

.time-row {
  display: flex;

  .lessons, app-schedule-lessons {
    flex: 1 0 150px;

    &:nth-child(even) {
      background-color: mix($primary-color, white, 10%);;
    }
  }

  .lesson-time, .lessons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .lesson-time {
    flex: 0 0 48px;
    justify-content: flex-start;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #909090;

    .number {
      font-size: 36px;
      line-height: 54px;
      font-weight: 500;
    }

    .time {
      writing-mode: vertical-lr;
      letter-spacing: 0.5px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
    }
  }

  .lessons {
    width: 100px;
    padding: 5px 0;
  }
}

.select-group-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: mix($primary-color, white, 70%);
  padding: 7px 48px;
  box-sizing: border-box;

  .additional-wrapper {
    display: flex;
    height: 100%;
  }

  .info-row {
    display: flex;
    flex-wrap: wrap;
  }

  .group-info {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 300;
    color: white;
  }

  .temporary {
    display: inline;
  }

  ::ng-deep app-group-select {
    display: none;

    app-select-result .tb-input {
      margin-top: 0;
    }
  }

  &.empty, &:hover {
    app-group-select {
      display: unset;
    }

    .additional-wrapper {
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }

    .info-row {
      margin: 0 10px;
    }

    .temporary {
      display: none;
    }
  }
}

.loading-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 40;
  background-color: #ffffff9e;

  .loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
