<div class="main-sideBar">
  <a mat-icon-button class="menu-button main-button" routerLink="/dashboard" title="Головна">
    <img class="button-icon" src="../../static/assets/img/logo.svg" alt>
  </a>
  <a *ngFor="let navItem of navPanels"
     [routerLink]="navItem.link"
     [title]="navItem.title"
     routerLinkActive="active"
     class="menu-button"
     mat-icon-button>
    <mat-icon>{{navItem.image}}</mat-icon>
  </a>
</div>
<div class="page-content">
  <router-outlet></router-outlet>
</div>
