<div class="time-column">
  <span>N/N</span>
  <div class="lesson-time" *ngFor="let time of lessonTimes">{{time}}</div>
</div>
<div class="day-column" *ngFor="let day of week; let index = index">
  <span>{{weekDays[index]}}</span>
  <app-schedule-lesson #lesson
                       *ngFor="let lessons of day"
                       (addToClipBoard)="clipboard = $event"
                       (dragEnd)="isDragging = false"
                       (dragStart)="isDragging = true"
                       (getFromClipBoard)="paste(lesson)"
                       [connectedList]="dropLists"
                       [isSomeDragging]="isDragging"
                       [isSomethingInClipboard]="!!clipboard"
                       [lessons]="lessons"></app-schedule-lesson>
</div>
