<div class="group-items-wrapper">
  <div class="relative-wrapper">
    <div class="group-item header-row">
      <div class="group-item-details long">Курс</div>
      <div class="group-item-details">Степінь</div>
    </div>
    <a class="group-item" *ngFor="let course of courses" [routerLink]="['/dashboard', 'courses', course.id]">
      <div class="group-item-details long">{{course.name}}</div>
      <div class="group-item-details">{{degreeMap.get(+course.degree)?.name}}</div>
    </a>
    <div class="loader-wrapper" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading" class="viewport-bottom" inViewport (inViewportAction)="!!$event && $event.visible && onScrollToBottom.emit()"></div>
  </div>
</div>
