@import 'core/stylesheet/theme';
@import 'core/stylesheet/constants';

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1250px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  color: $gray;
  line-height: 48px;
  margin: 0 0 26px;
}

.semi-bold {
  font-weight: 500;
}

.small-text {
  font-size: 12px;
  line-height: 18px;
  word-break: break-word;
  font-weight: 300;
}
