@import 'static/assets/stylesheet/theme';

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1200px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.semi-bold {
  font-weight: 500;
}

.small-text {
  font-size: 12px;
  line-height: 18px;
  word-break: break-word;
  font-weight: 300;
}
