<div class="group-items-wrapper">
  <div class="relative-wrapper">
    <div class="group-item header-row">
      <div class="group-item-details long">Група</div>
      <div class="group-item-details">Степінь</div>
      <div class="group-item-details short">Курс</div>
      <div class="group-item-details short">Підгруп</div>
      <div class="group-item-details icon" *ngIf="withDeleting"></div>
    </div>
    <a class="group-item" *ngFor="let group of items; let index = index" [routerLink]="['/dashboard', 'groups', group.slug]">
      <div class="group-item-details long">{{group.name}}</div>
      <div class="group-item-details">{{degreeMap.get(+group.course_degree)?.name}}</div>
      <div class="group-item-details short">{{group.course_name}}</div>
      <div class="group-item-details short">{{group.subgroups}}</div>
      <div class="group-item-details icon" *ngIf="withDeleting">
        <button mat-icon-button (click)="deleteItem(index); $event.stopPropagation(); $event.preventDefault();">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </a>
    <div class="loader-wrapper" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading" class="viewport-bottom" inViewport
         (inViewportAction)="!!$event && $event.visible && loadItems()"></div>
  </div>
</div>
