.control-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .mat-flat-button, .mat-stroked-button {
    min-width: 100px;
    margin: 0 10px;
  }
}

.tt-form {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1 0 250px;
  width: 250px;
  margin-left: 25px;

  &:first-child {
    margin-left: 0;
  }
}
