<app-select (closed)="onClose()"
            (opened)="onOpen()"
            [abstractControl]="selectControl"
            [isMulti]="multiple"
            [isCircularSelecting]="!isLoading"
            [isDisabled]="selectControl.disabled || disabled">

  <app-select-result>
    <label *ngIf="withSearch && !!selectComponent?.isOpened; else defaultLabel" [formGroup]="filterForm">
      <input #searchInput class="select-input" placeholder="Пошук..." formControlName="search">
    </label>
    <ng-template #defaultLabel>
      <ng-container *ngIf="!multiple; else multipleResult">
        {{getOptionText(selectControl.value) || simplePlaceholder}}
      </ng-container>
      <ng-template #multipleResult>
        <ng-container *ngFor="let item of selectControl.value; let isLast = last">
          {{getOptionText(item)}}{{isLast ? '' : ',  '}}
        </ng-container>
        <ng-container *ngIf="!selectControl.value || !selectControl.value.length">{{multiplePlaceholder}}</ng-container>
      </ng-template>
    </ng-template>
  </app-select-result>


  <div class="fixed-wrapper">
    <div class="relative-wrapper">

      <app-option-item *ngFor="let option of options"
                       [value]="option[this.optionIdKey]"
                       [title]="getOptionTitleText(option[this.optionIdKey])"
                       class="tb-item">{{getOptionText(option[this.optionIdKey])}}</app-option-item>
      <div class="loader-wrapper" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!isLoading" class="viewport-bottom" inViewport (inViewportAction)="onViewportAction($event)"></div>
    </div>
  </div>

</app-select>
