<div class="relative-wrapper">
  <div class="item header-row">
    <div class="item-details long">Ім'я</div>
    <div class="item-details middle">ОКР</div>
    <div class="item-details icon" *ngIf="withDetails"></div>
    <div class="item-details icon" *ngIf="withDeleting"></div>
  </div>
  <div class="item" *ngFor="let teacher of items; let index = index">
    <div class="item-details long">{{teacher.full_name}}</div>
    <div class="item-details middle">{{degreeMap.get(teacher.degree)}}</div>
    <div class="item-details icon" *ngIf="withDetails">
      <button (click)="getItemDetailsEntity(teacher); $event.stopPropagation(); $event.preventDefault();"
              class="mini-button"
              mat-icon-button>
        <mat-icon>input</mat-icon>
      </button>
    </div>
    <div class="item-details icon" *ngIf="withDeleting">
      <button (click)="deleteItem(index); $event.stopPropagation(); $event.preventDefault();"
              class="mini-button"
              mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="loader-wrapper" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading" class="viewport-bottom" inViewport
       (inViewportAction)="!!$event && $event.visible && loadItems()"></div>
</div>
